nav {
    height: 100px;
}

nav img {
    width: 75%;
    margin-left: 8%;

}

hr {
    margin-top: -0.9%;

}


.container {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 0%;
    height: 500px;


}

.create {
    font-size: xx-large;
    font-weight: 700
}


label {

    font-weight: 700;

}

p {
    margin-bottom: 5%;
}


form {
    margin-left: 30%;

}

input {
    width: 80%;


}


.sign {
    background-color:
        #ff7900;
    padding: 1.5%;
    margin-top: 3%;
    font-size: large;
    font-weight: bold;
    margin-bottom: 2%;
}

.sign:hover {
    background-color: black;
    color: white;
}


.login {
    background-color:
        white;
    padding: 1.5%;
    font-size: large;
    font-weight: bold;
}

.login:hover {
    background-color: black;
    color: white;
}

.check {
    width: 2%;
    margin-bottom: 5%;
    background-color: #ff7900;
}

a {
    color: black;
}

a:hover {
    color: #ff7900;
}

#demo img{height: 800px;

}